<h1>   Ваш список задач в amoCRM</h1>
<a href="/task"><h5>Добавить задачу</h5></a>
<a href="/"><h5>Home</h5></a>
{{#if mass_tasks.length}}
{{#each mass_tasks}}
<div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-content">
            <span class="card-title">Задача с номером ID №{{id}}</span>
                <p> responsible_user_id: {{responsible_user_id}}</p>
                <p> created_by: {{created_by}} </p>
                <p> created_at: {{created_at}} </p>
                <p> updated_at: {{updated_at:}} </p>
                <p> account_id: {{account_id}} </p>
                <p> group_id: {{group_id}} </p>
                <p> duration: {{duration}} </p>
                <p> element_type: {{element_type}} </p>
                <p> element_id: {{element_id}} </p>
                <p> is_completed: {{is_completed}} </p>
                <p> task_type: {{task_type}} </p>
                <p> complete_till_at: {{complete_till_at}} </p>
                <p> text: {{text}}</p>
                <p> result: {{result}}</p>
                <p> _links: {{_links}}</p>
        </div>
      </div>
    </div>
</div>
{{/each}}
{{else}}
    <p class="events">Нет задач</p>
{{/if}}